{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Forgot Password{% endblock %}

{% block body %}

    <script>
        function requestSent() {
            var email = $('#email').val();
            var data = {
                'email': email,
            };
            $.ajax({
                method: "POST",
                url: "/account/forgot/password",
                data: data
            }).done(function () {
                $('#request').show();
            })
        }
    </script>

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1> Hello! </h1>
    </div>
    <div class="container" style="margin-top: 6%">
        <h2>Enter your email:</h2>
        <form  method="post">
            <div class="form-group">
                <label for="email">Your email:</label>
                <input type="email" class="form-control" id="email"
                       placeholder= popescu.emil@gmail.com>
            </div>
            <button id="submit" type="submit" class="btn btn-primary" style="margin-top: 3%" onclick="requestSent()">Send</button>
            <div id="request" style="display: none; color: forestgreen">
                An email has been sent!
            </div>
        </form>
    </div>
{% endblock %}
