{% extends 'base_bg.html.twig' %}

{% block title %}Folder{% endblock %}

{% block body %}
    <script src="/js/jstree/jstree.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ asset('css/jstree/style.min.css') }}">
    {#<script src="/css/style.min.js" type="text/css"></script>#}
    <script src="{{ asset('js/video.js/dist/video.js/video.min.js') }}"></script>
    <script src="{{ asset('js/video.js/dist/video-js.css/video-js.min.css') }}"></script>

    <div class="jumbotron bleu-bg font-Noto">
        <div class="container">
            <h1 id="h1-video-title" style="font-size: 400%">Tutorials</h1>
            <p>-Practice makes perfect-</p>
            <p style="float: left" id="p1-video-created"></p>
            <p style="margin-left: 20%" id="p2-video-updated"></p>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 50px">
        <div class="row">
            <div class="col-md-4" style="padding-left: 6%;">
                {#jsTree Start#}
                <div id="jstree_demo_div"></div>
                {#jsTree End#}
            </div>

            <div id="divHidden" class="col-md-8" data-video-id="" style="padding-right: 10%;" hidden>
                {#video player start#}
                <div>
                    <video id="example_video_1" class="video-js vjs-big-play-centered vjs-fluid" controls preload="none" width="1280"
                           height="720"
                           data-setup='{ "playbackRates": [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2] }'
                           poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
                        {#<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">#}
                        <source id="video-source" src="/videos/disel.mp4" type="video/mp4">

                        <track kind="captions" src="/js/video.js/dist/examples/shared/example-captions.vtt" srclang="en" label="English">
                        <track kind="subtitles" src="/js/video.js/dist/examples/shared/example-captions.vtt" srclang="en" label="English">
                        {#<track kind="subtitles" src="/shared/example-captions.vtt" srclang="en" label="English">#}
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
                            browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                video</a></p>
                    </video>
                </div>

                {#video player ends#}

                {#tabs start#}
                <div style="padding-top: 50px">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="" role="tab"
                               aria-controls="profile" aria-selected="false">Comments</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                             aria-labelledby="home-tab" style="margin-bottom: 15%; margin-top: 2%; margin-left: 5%; margin-right: 5%">
                        </div>
                        <div class="tab-pane fade"  role="tabpanel" aria-labelledby="profile-tab"></div>
                    </div>
                </div>

                {#tabs end#}

                <span id="videoTitle"></span>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            var test = {{ tree | json_encode | raw }}
                console.log(test);
            $('#jstree_demo_div')
                .on('select_node.jstree', function (e, data) {
                    console.log(data.node.id);

                    $.ajax({
                        method: "GET",
                        url: "/tici/video/" + data.node.id,
                        success: function (data) {
                            var video = JSON.parse(data.content);
                            console.log(video);

                            $('#home').html(video[0].videoContent);
                            $('#home-tab').attr("class", "nav-link active");
                            $('#profile-tab').attr("class", "nav-link");

                            $('#home-tab').click( function () {
                                $('#home').html(video[0].videoContent);
                            });

                            var videoToPlay = "/videos/" + video[0].videoPath + ".mp4";
                            var video2 = $('#divHidden video')[0];
                            $('#divHidden').attr('data-video-id', video[0].id);
                            // video2.src = videoToPlay;
                            video2.src = "http://vjs.zencdn.net/v/oceans.mp4";
                            video2.load();

                            $("#h1-video-title").text(video[0].title);

                            console.log(video[0]);
                            var d = video[0].publishedAt.date;

                            d = d.split(' ')[0];
                            $("#p1-video-created").text("Published at: " + d);
                            d = video[0].updatedAt.date;
                            d = d.split(' ')[0];
                            $("#p2-video-updated").text("Last update: " + d);

                            videojs('example_video_1').on("progress", function () {
                                console.log(videojs('example_video_1').currentTime());
                            });

                            videojs('example_video_1').ready(function() {
                                this.hotkeys({
                                    volumeStep: 0.1,
                                    seekStep: 5,
                                    enableVolumeScroll: false,
                                    enableModifiersForNumbers: false
                                });
                            });


                            // TO-DO creating player
                            /*var player = videojs('example_video_1');
                            player.load();
                            player.ready(function () {
                            });*/


                            $('#profile-tab').click(function () {
                                $.ajax({
                                    method: "GET",
                                    url: "/tici/comment/" + video[0].id,
                                    success: function (data) {
                                        console.log('data');
                                        console.log(data);

                                        //var comments = JSON.parse(data.content);
                                        var response = JSON.parse(data.response);
                                        //console.log('comments');
                                        //console.log(comments);


                                        console.log('response');
                                        console.log(response);
                                        console.log(response.response);

                                        $('#home').html(response.response);
                                        //$('#home').html(comments[0].content);
                                        console.log('e bene');
                                    }
                                })
                            })

                        },
                        error: function (data) {
                            console.log('error ajax video');
                        }

                    })
                    $('#divHidden').removeAttr('hidden');
                })


                .jstree({
                    'core': {
                        'data': JSON.parse(test)
                    }
                });
            console.log(JSON.parse(test));


        })
    </script>
    <script src="//cdn.sc.gl/videojs-hotkeys/latest/videojs.hotkeys.min.js"></script>
    <script src='https://vjs.zencdn.net/7.5.5/video.js'></script>
{% endblock %}

