{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <h1 class="text-center" style="margin-top: 7%; color: #007bff">Welcome to TICI !</h1>
    <h2 class="text-center">Lorem Ipsum</h2>

    <div class="container">
        <div class="col-md-12" style="margin-top: 7%">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat tortor massa, at vulputate
                purus accumsan et. Suspendisse aliquet hendrerit placerat. Ut feugiat quam a tortor convallis, at
                sagittis purus lacinia. Aliquam sodales convallis risus, in finibus magna porttitor a. Aliquam magna
                odio, tincidunt non velit eget, facilisis hendrerit nulla. Sed congue faucibus dui eget dictum. Ut
                consectetur, urna et pharetra elementum, ante justo mattis arcu, vitae faucibus nibh eros in lorem.
                Quisque vitae lectus quis arcu commodo suscipit. Maecenas facilisis tortor in tellus egestas, a
                hendrerit magna vulputate. Phasellus in purus eget justo accumsan sollicitudin. Ut sit amet lacinia
                lorem. Aenean semper, orci sed pellentesque cursus, massa est rhoncus libero, vitae porttitor odio
                purus euismod purus.
            </p>
        </div>
    </div>


{% endblock %}